%% -*- erlang -*-

%% Erlang releases after 17 don't put R in front of their name
{erl_opts, [{platform_define, "^[0-9]+", namespaced_arrays},
            debug_info,
            warnings_as_errors]}.

{deps_dir, ["deps"]}.
{deps, [{edown, ".*",
         {git, "https://github.com/esl/edown.git",
          "master"}},
        {proper_stdlib, ".*",
         {git, "https://github.com/spawngrid/proper_stdlib.git",
          "master"}},
        {proper, ".*",
         {git, "https://github.com/manopapad/proper.git",
          {tag, "v1.0"}}}]}.

{eunit_opts, [verbose, {report,{eunit_surefire, [{dir, "."}]}}]}.

%% FIXME(Sergei): remove this, once Travis updates its 'rebar' version.
{so_specs, [{"priv/ecirca_small.so", ["c_src/ecirca_small.o"]},
            {"priv/ecirca_medium.so", ["c_src/ecirca_medium.o"]},
            {"priv/ecirca_large.so", ["c_src/ecirca_large.o"]}]}.

{port_specs, [{"priv/ecirca_small.so", ["c_src/ecirca_small.c"]},
              {"priv/ecirca_medium.so", ["c_src/ecirca_medium.c"]},
              {"priv/ecirca_large.so", ["c_src/ecirca_large.c"]}]}.
{port_env, [{"darwin", "CC", "clang"},
            %% unfortunately, R17.2 produces warnings on compilation by
            %% itself (error in ERL_NIF_INIT).
            %% {"CFLAGS", "$CFLAGS -std=c99 -Wall -Wextra -Werror -pedantic"}]}.
            {"CFLAGS", "$CFLAGS -std=c99 -Wall -Wextra -pedantic"}]}.
{pre_hooks, [{compile, "./priv/codegen.sh"}]}.

{edoc_opts, [{doclet, edown_doclet},
             {src_path, ["src"]},
             {stylesheet, ""},
             {image, ""},
             {preprocess, true},
             {top_level_readme,
              {"./README.md",
               "https://github.com/band115/ecirca"}}]}.
