%% -*- erlang -*-
{erl_opts,[debug_info, warnings_as_errors]}.
{deps_dir, ["deps"]}.
{deps, [{edown, ".*",
         {git, "https://github.com/si14/edown.git", "master"}},
        {proper_stdlib, ".*",
         {git, "https://github.com/spawngrid/proper_stdlib.git", "master"}},
        {proper, ".*",
         {git, "https://github.com/manopapad/proper.git", "master"}}]}.
%{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{sub_dirs, ["tests"]}.
{port_sources, ["c_src/*.c"]}.
{so_specs, [{"priv/ecirca_small.so", ["c_src/ecirca_small.o"]},
            {"priv/ecirca_medium.so", ["c_src/ecirca_medium.o"]},
            {"priv/ecirca_large.so", ["c_src/ecirca_large.o"]}]}.
{port_envs, [{"x86_64.*-linux", "CFLAGS", "$CFLAGS -O3 -Wall"}]}.
{pre_hooks, [{compile, "gcc -I/usr/lib/erlang/erts-5.8.4/include "
                           "-D BITNESS=12 "
                           "-E priv/ecirca.c "
                           " > c_src/ecirca_small.c"},
             {compile, "gcc -I/usr/lib/erlang/erts-5.8.4/include "
                           "-D BITNESS=28 "
                           "-E priv/ecirca.c "
                           " > c_src/ecirca_medium.c"},
             {compile,  "gcc -I/usr/lib/erlang/erts-5.8.4/include "
                           "-D BITNESS=60 "
                           "-E priv/ecirca.c "
                           " > c_src/ecirca_large.c"}]}.
